body, html {
  font-family: 'Alegreya Sans', sans-serif;
}

.navbar {
  background-color:#FFFFFF;
}

.navbar-brand {
  color:#FFFFFF;
}

.jumbotron {
  background-color:#FFFFFF;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center; /* align horizontal */
}

.section-dark {
  background-color: #000000;
  color:#AAAAAA;
}

#phrase {
  position: absolute;
  left:15px;
  top:15px;
  font-size: 100%;
  font-family: monospace;
}
@media (max-width: 360px) {
  #phrase {
    font-size: 90%;
  }
}

#logo {
  margin-top: 25px;
}
@media (max-width: 767px) {
  #logo {
    margin-top:45px;
  }
}

iframe, div #contact {
border: 20px solid transparent;
border-image-source: url(../images/bw.png);
border-image-slice: 60;
height: 270px;
}

#contact {
  font-style: italic;
  font-size: 110%;
}

.contact-header {
  font-weight: bold;
}

/* https://css-tricks.com/examples/hrs/*/
hr {
    height: 1px;
    border: none;
    background-color: #CCCCCC;
    color: #CCCCCC;
    font-family: Arial;
    text-align: center;
}
hr:after {
    white-space: pre;
    content: "[  ]";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}