body, html {
  font-family: 'Alegreya Sans', sans-serif;
}

.navbar {
  background-color:#FFFFFF;
}

.navbar-brand {
  color:#FFFFFF;
}

.jumbotron {
  background-color:#FFFFFF;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.section-dark {
  background-color: #000000;
  color:#AAAAAA;
}

#phrase {
  position: absolute;
  left:15px;
  top:15px;
  font-size: 100%;
  font-family: monospace;
}
@media (max-width: 360px) {
  #phrase {
    font-size: 90%;
  }
}

#logo {
  margin-top: 25px;
}
@media (max-width: 767px) {
  #logo {
    margin-top:45px;
  }
}

