body {
  font-family: Arial;
  font-size: 100%;
  margin: 20px;
}

a, u {
    text-decoration: none;
}
#header {
  position: fixed;
  left: 0;
  right: 0;
  top:0%;
  z-index: 1;

  text-align: center;
  /* HELP- checkout the setGradient.js file, where I try to set random color */
/*
  background: -moz-linear-gradient(top, rgba(255,0,255,1) 0%, rgba(255,0,255,0.95) 60%, rgba(255,255,255,0.95) 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,0,255,1)), color-stop(60%,rgba(255,0,255,0.95)), color-stop(100%,rgba(255,255,255,0.95)));
  background: -webkit-linear-gradient(top, rgba(255,0,255,1) 0%,rgba(255,0,255,0.95) 60%,rgba(255,255,255,0.95) 100%); 
  background: -o-linear-gradient(top, rgba(255,0,255,1) 0%,rgba(255,0,255,0.95) 60%,rgba(255,255,255,0.95) 100%); 
  background: -ms-linear-gradient(top, rgba(255,0,255,1) 0%,rgba(255,0,255,0.95) 60%,rgba(255,255,255,0.95) 100%); 
  background: linear-gradient(to bottom, rgba(255,0,255,1) 0%,rgba(255,0,255,0.95) 60%,rgba(255,255,255,0.95) 100%); 
*/
  background: -moz-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(10,10,10,1) 5%, rgba(255,255,255,0.95) 60%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,0,0,1)), color-stop(5%,rgba(10,10,10,1)), color-stop(60%,rgba(255,255,255,0.95)));
  background: -webkit-linear-gradient(top, rgba(255,0,0,1) 0%,rgba(10,10,10,1) 5%,rgba(255,255,255,0.95) 60%); 
  background: -o-linear-gradient(top, rgba(255,0,0,1) 0%,rgba(10,10,10,1) 5%,rgba(255,255,255,0.95) 60%); 
  background: -ms-linear-gradient(top, rgba(255,0,0,1) 0%,rgba(10,10,10,1) 5%,rgba(255,255,255,0.95) 60%); 
  background: linear-gradient(to bottom, rgba(255,0,0,1) 0%,rgba(10,10,10,1) 5%,rgba(255,255,255,0.95) 60%); 
}

#logo {
  position: relative;
  top:20px;
  width: 202px;
  height: 204px;
}

.navigate {
  position: fixed;
  top: 300px;
  width: 15%;
  right: 50px;
  float: left;
}

#statement {
  position: absolute;
  font-family: monospace;
  margin: auto;
  padding-top: 10px;
  width: 500px;
  top: 300px;
}

#phrase {
  position: fixed;
  bottom: 0;

  font-size: 160%;
  font-family: monospace;
  left: 20px;
  bottom: 20px;

  width: 100%; 
  background-color: rgba(255,255,255,0.6);
  z-index: 1;
}

#channels {
  position: absolute;
  width: 40%;
}

#channels img {
  width: 50px;
  height: 50px;
  -webkit-filter: brightness(0%);
  -moz-filter: brightness(0%);
  -o-filter: brightness(0%);
  -ms-filter: brightness(0%);
  filter: brightness(0%);
  transform: scale(0.95);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#channels img:hover {
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);

  transform: scale(1.2);

  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* fuck doesnt really work. this should fix mobile devives, which don't have a cursor. no hover magic there...*/
@media (pointer: coarse) {
 -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
  transform: scale(0.9);
}
