body {
  font-family: Arial;
  font-size: 100%;
  margin: 20px;
}

#header {
	text-align: center;
}

#phrase {
  font-size: 160%;
  font-family: monospace;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

#logo {
  width: 202px;
  height: 204px;
}

#channels img {
  width: 50px;
  height: 50px;
}
