body {
  font-family: Arial;
  font-size: 100%;
  margin: 20px;
}

#header {
	text-align: center;
}

#phrase {
  font-size: 160%;
  font-family: monospace;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

#logo {
  width: 202px;
  height: 204px;
}

#channels img {
  width: 50px;
  height: 50px;
  -webkit-filter: brightness(0%);
  -moz-filter: brightness(0%);
  -o-filter: brightness(0%);
  -ms-filter: brightness(0%);
  filter: brightness(0%);
  transform: scale(0.9);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#channels img:hover {
 -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
  transform: scale(1.2);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media only screen {
 -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
  transform: scale(1.0);  
}
