<div class="jumbotron">
    <div class="container">
        <img class="img-responsive center-block" src="{{ " /img/logo.jpg " | prepend: site.baseurl }}" alt="Lacuna Lab logo" />

        <h1>Lacuna Lab is exploring _____.</h1>
        <p>We mix logic and beauty to create interactive works for us and for you. We are driven by imagination, playfulness, and experimentation. We love partnering with others on projects and collaborations, and sharing what we learn through public exhibitions, classes, and workshops.</p>
        <p>Find us in <a href="#">Kreuzberg, Berlin.</a></p>
        <p><a href="#">Get in touch!</a></p>
    </div>
</div>
