<header class="container jumbotron">
  <div class="highlight" data-highlight-menu="about">
    <div class="row">
      <div class="col-xs-12">
        <img class="img-responsive center-block" id="logo" src="{{ " /img/logo.svg " | prepend: site.baseurl }}" alt="Lacuna Lab logo" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-push-1 col-md-8 col-md-push-3">
          <h1>
            <div id="phrase">Lacuna Lab is about [ ]</div>
          </h1>
          <p class="about_text">
            We mix logic and beauty to create interactive <br class="hide-phone">works for us and for you. We are driven by imagination, playfulness, and experimentation. We love partnering <br class="hide-phone">with others on projects and collaborations, and sharing <br class="hide-phone">what we learn through public exhibitions, classes, <br class="hide-phone">and workshops.
          </p>
          <p class="about_text">Find us in Kreuzberg, Berlin
              [ <a class="fa fa-map-marker" target="_blank"
                   href="https://www.google.de/maps/place/Lacuna+Lab+e.V./@52.4964535,13.4185438,17z/data=!4m7!1m4!3m3!1s0x47a84fcb3cd2a77f:0xdb72cb1e8fca7615!2sPaul-Lincke-Ufer+44A,+10999+Berlin!3b1!3m1!1s0x0000000000000000:0x12bf74d2cb2671f3"></a>
              ].
              Get in touch [ <a class="fa fa-envelope" href="mailto:{{ site.email }}"></a> ] !
          </p>
        </div>
    </div>
  </div>

</header>
