<div class="jumbotron">
    <div class="container">
        <img class="img-responsive center-block" id="logo" src="{{ " /img/logo.svg " | prepend: site.baseurl }}" alt="Lacuna Lab logo" />

        <h1><div id="phrase">Lacuna Lab is about some things</div></h1>
        <p>We mix logic and beauty to create interactive works for us and for you. We are driven by imagination, playfulness, and experimentation. We love partnering with others on projects and collaborations, and sharing what we learn through public exhibitions, classes, and workshops.</p>
        <p>Find us in Kreuzberg, Berlin 
        [ <a class="fa fa-map-marker" target="_blank" href="https://www.google.de/maps/place/Paul-Lincke-Ufer+44A,+10999+Berlin/@52.4964535,13.4185438,17z/data=!3m1!4b1!4m2!3m1!1s0x47a84fcb3cd2a77f:0xdb72cb1e8fca7615"></a> ].
        Get in touch [ <a class="fa fa-envelope" href="#"></a> ]  !</p>
		<script src="js/phrase.js"></script>
    </div>
</div>
