<div class="container">
    <h2>Upcoming Events</h2>
    <div class="row">
        <div class="row row-horizon">
         {% for event in site.data.events %}
         <div class="col-md-5">
           <div class="panel panel-default">
               <div class="panel-heading">
                   <h2 class="panel-title">{{ event.date | date: '%B' }}</h2>
                   <h2 class="panel-title">{{ event.date | date: '%d' }}</h2>
                   <p class="event_time">{{ event.time }}</p>
                   <img src="img/events/{{ event.image }}" class="event_image" />
                   <p class="event_title">{{event.title}}</p>
                   <p>-----------</p>
                   <p class="event_location">{{event.location}}</p>
                   <p class="event_description">{{event.description}}</p>
               </div>
           </div>
         </div>
         {% endfor %}
    </div>
</div>
    </div>
</div>
