<div class="container highlight" data-highlight-menu="events">
  <div class="row">
    <div class="col-xs-9 col-xs-push-2">

    <!-- <p class="event_year">2015</p> -->
      <div class="row">
          <h2 class="col-xs-12">Lacuna Events</h2>
          
          {% for event in site.data.events limit:3 %}
          <div class="col-xs-12 col-sm-4">
              <div class="panel panel-default" style="border:0px solid;">
                  <div class="<!--panel-heading-->" style="background-color: #ffffff;">
                      <p class="event_month">
                          {% assign m = event.date | date: "%B" %}
                          {% case m %}
                          {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
                          {% when 'September' %}Sept
                          {% else %}{{ event.date | date: "%b" }}
                          {% endcase %}</h2>

                      <p class="event_day">
                          {% assign d = event.date | date: "%-d" %}
                          {% case d %}
                          {% when '1' or '21' or '31' %}{{ d }}st
                          {% when '2' or '22' %}{{ d }}nd
                          {% when '3' or '23' %}{{ d }}rd
                          {% else %}{{ d }}th
                          {% endcase %}
                      </p>

                      <p class="event_time">{{ event.time }}</p>
                      <div class="row">
<!--                         <div class="event_image"> -->
                        <img src="img/events/{{ event.image }}" class="event_image"/>
                        <!-- </div> -->
                      </div>
                      <p class="event_title">{{event.name}}</p>
                      <hr class="event_line">
                      <p class="event_location">{{event.location}}</p>

                      <p class="event_location_city">{{event.location-city}}</p>

                      <p class="event_description">{{event.description}}</p>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>
