<div class="container">
    <h2>Upcoming Events</h2>
    <div class="row">
        <div class="row row-horizon">
         {% for event in site.data.events %}
         <div class="col-md-5">
           <div class="panel panel-default">
               <div class="panel-heading">
                   <h3 class="panel-title">{{ event.name }}</h3>
                   <div> {{ event.date | date: '%B %d, %Y' }}, {{ event.time }} </div>
                   <div> {{ event.location }} </div>
               </div>
               <div class="panel-body">
                   {{ event.description }}
               </div>
           </div>
         </div>
         {% endfor %}
    </div>
</div>
    </div>
</div>
