<footer id="footer" class="container">
	 {% include signup.html %}
	{% include social-links.html %}
    <p style="font-size: 14px; margin-top: 8em" class="text-center">© Lacuna Lab e.V. 2019</p>
</footer>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.js"></script>


<script src="/js/general.js"></script>
<script src="/js/phrase.js"></script>

{% include logo.html %}

