<header class="navbar-header clearfix">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header clearfix"></div>

            <!-- TODO: this is a hacky placeholder.  It should use a dynamic diev with background image. -->
            <a linkTo="about" class="navbar-link"><img id="headerBracket" src="{{ " /img/brackets-grey.svg " | prepend: site.baseurl }}" alt="Lacuna Lab logo"/></a>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a linkTo="latest"  class="navbar-link active">STUFF</a></li>
                    <li><a linkTo="events"  class="navbar-link">EVENTS</a></li>
                    <li><a linkTo="members" class="navbar-link">MEMBERS</a></li>
                    <li><a linkTo="where"   class="navbar-link">FIND US</a></li>
                </ul>
                <ul class="nav navbar-nav social-icons">
                  <li><a href="https://vimeo.com/lacunalab"><img class="social-media-link" src="img/icon-vimeo.svg"></a></li>
                  <li><a href="https://twitter.com/lacunalab"><img class="social-media-link" src="img/icon-twitter.svg"></a></li>
                  <li><a href="https://facebook.com/lacunalab"><img class="social-media-link" src="img/icon-facebook.svg"></a></li>
                  <li><a href="https://lacunalab.tumblr.com"><img class="social-media-link" src="img/icon-tumblr.svg"></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right language">
                  <li class="language-element">EN</li>
                  <li class="language-element">DE</li>
                </ul>
            </div>

        </div>
    </nav>

</header>
