<div class="highlight" data-highlight-menu="where">
  <div class="row">
    <h2 class="col-xs-10 col-xs-push-2">Where To Find Us</h2>
    <div id="mapWrapper">
      <div id="map" class="col-xs-12"></div>
      <div id="address" class="col-xs-3 col-xs-push-2">
        <p>
          <span class="addressLabel">Lacuna Lab</span><br>
          
            Paul-Lincke-Ufer 44A </br>
            2.HH 1.OG <br/>
            10999 Berlin
          
        </p>
        <p>
          <span class="addressLabel">Phone</span></br>
          +49(0)30 69597111
        </p>
        <p>
          <span class="addressLabel">Email</span></br>
          {{ site.email }}
        </p>
      </div>
    </div>
  </div>
</div>

<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
 
<script type="text/javascript">
	var map = L.map('map').setView([52.496721268508615, 13.417986631393433], 16);

	var tileLayer = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
	    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
	    maxZoom: 18,
	    id: 'lacunalab.8qugh53v',
	    accessToken: "pk.eyJ1IjoibGFjdW5hbGFiIiwiYSI6ImNpamVsOWd3MjAwMDJ1c2trd21rOXN0OG4ifQ.B3D316k8_UZRza98YZB3xQ"
	}).addTo(map);
  map.scrollWheelZoom.disable();
  
  var myMarker = L.icon({
    iconUrl: 'img/map-marker.svg',
    iconSize: [32, 48],
    iconAnchor: [17, 47],
    // popupAnchor: [-3, -76],
    shadowUrl: 'http://cdn.leafletjs.com/leaflet/v0.7.7/images/marker-shadow.png',
    shadowSize: [57, 57],
    shadowAnchor: [22, 56]
});
  
  L.marker([52.49691, 13.42122], { 
      icon: myMarker,
      // title: 'LAC!',
      alt: 'LAC!'
  }).addTo(map);
  
  
  map.on('moveend', function() {
    console.log(map.getCenter());
  });

</script>
