<div class="container" >
    <h2>Where To Find Us</h2>
    <div class="row">
        <div class="col-md-12" id="map"></div>
            <div id="addressBox">
                <div id="address">
                    <p>
                    <strong>Lacuna Lab</strong><br>
                      <i>
                        Paul-Lincke-Ufer 44A </br>
                        2.HH 1.OG <br/>
                        10999 Berlin
                      </i>
                    </p>
                    <p><strong>Phone</strong></br>
                      <i>
                        +49(0)30 69597111
                      </i>
                    </p>
                    <p><strong>Email</strong></br>
                      <i>
                        info@lacuna.org
                      </i>
                    </p>
                </div>
            </div>
    </div>
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>

<script type="text/javascript">
//Google maps API initialisation
var element = document.getElementById("map");
var layer = "toner"
var map = new google.maps.Map(element, {
    center: new google.maps.LatLng(52.49691, 13.42122),
    zoom: 16,
    mapTypeId: layer,
    mapTypeControlOptions: {
        mapTypeIds: [layer]
    }
});

map.mapTypes.set(layer, new google.maps.StamenMapType(layer));

var ltlng = {lat: 52.49691, lng: 13.42122};
var marker = new google.maps.Marker({
    position: ltlng,
    map: map,
    title: 'Hello World!'
  });
</script>
