<div class="container">
    <h2>Where To Find Us</h2>
    <div class="row">
        <div class="col-md-6" id="map"></div>

        <div class="col-md-6">
            <address>
                <p><strong>Lacuna Lab</strong></p>
                <p>
                    Paul-Lincke-Ufer 44A <br/> 
                    2.HH 1.OG <br/> 
                    10999 Berlin
                </p>
                <p>
                    <abbr title="Phone">P:</abbr> +49(0)30 69 59 71 11 030
                </p>
            </address>
        </div>

    </div>
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>

<script type="text/javascript">
//Google maps API initialisation
var element = document.getElementById("map");
var layer = "toner"
var map = new google.maps.Map(element, {
    center: new google.maps.LatLng(52.49691, 13.42122),
    zoom: 16,
    mapTypeId: layer,
    mapTypeControlOptions: {
        mapTypeIds: [layer]
    }
});
map.mapTypes.set(layer, new google.maps.StamenMapType(layer));
</script>
