.event_month {
  font-family: $font-family-sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: -15px;
}

.event_day {
  font-family: $font-family-sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: -5px;
}

.event_time {
  font-size: 30px;
  font-weight: bold;
}

.event_title {
  font-size: 30px;
  line-height: 32px;
}

.event_line {
  border-top: 2px solid #000000;
  margin-left: 0px;
  width: 20%;
}

.event_location {
  font-family: $font-family-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: -3px;
}

.event_location_city {
  font-family: $font-family-serif;
  font-size: 18px;
  font-weight: normal;
}

.event_description {
  font-family: $font-family-serif;
  font-size: 18px;
  font-weight: normal;
}
