[data-highlight-menu="events"] {
  & .event_year {
      position: relative;
      left: -230px;
      top: 72px;
      font-size: 35px;
      font-weight: bold;
  }

  & .event_month, & .event_day {
      font-family: $font-family-sans-serif;
      font-size: 35px;
      font-weight: bold;
  }
  & .event_month {
    margin-bottom: -15px;
  }
  & .event_day {
    margin-bottom: -5px;
  }

  & .event_time {
    font-size: 18px;
    font-weight: bold;
  }

  & .event_title {
    font-size: 16px;
    line-height: 22px;
  }

  & .event_line {
    border-top: 2px solid #000000;
    margin-left: 0px;
    width: 20%;
  }

  & .event_location {
    font-family: $font-family-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: -3px;
  }

  & .event_location_city {
    font-family: $font-family-serif;
    font-size: 16px;
    font-weight: normal;
  }

  & .event_description {
    font-family: $font-family-serif;
    font-size: 16px;
    font-weight: normal;
  }

  & .event_image {
    margin-left: 0px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    // width: 90%;
    height: 120px;
    // width: 250px;
    // height: 250px;

    $break-small: 768px;
    $break-s: 576px;

    @media (max-width: $break-small) {
      // height: none;
		height: auto;
      max-height: 100%;
		max-width: 100%;
      // max-height: 90%;
      // height: 50%;
    } 

    @media (min-width: $break-small) {
      height: 110px;
      // max-width: 90 %;
    } 
  }

  .panel {
    padding-bottom: 10px;
  }

  // hack for archive gallery
  #events-archive-container {
    $break-small: 768px;
    @media (min-width: $break-small) {
        .col-xs-12.col-sm-4 {
            float: none;
            display: inline-table;
            width: 32.2%;
        }
    }
  }

}
