body {
  font-size: 2.2rem;
}

/* add [ ] logotype to horizontal rules */
hr {
    height: 1px;
    border: none;
    background-color: $grey;
    color: $grey;
    text-align: center;
}

h2 {
  padding-bottom: 20px;
  font-weight: bold;
}

hr.brackets:after {
    white-space: pre;
    content: "[  ]";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: $white;
}

.jumbotron {
  background: $white;
  margin-top: 20px;
}

.active {
  text-decoration: underline;
}


#headerBracket {
  width: 70px;
  height: 90px;
  margin-top: 34px;
  margin-bottom: 10px;
  margin-left: 50px;
  float: left;
  position:relative;
}

#headerBracket img {
  position:absolute;
  left:0;
  width: 70px;
  transition: opacity 5s ease-in-out;
}

.navbar-default {
  background-color: white;
  border: none;
  font-size: 20px;
  font-weight: normal;
}

.navbar-link {
  cursor: pointer;
}

.navbar-nav{
  margin-left: 4%;
  margin-top: 20px;
}

.social-icons {
  margin-top: 36px;  
  position: relative;
  right: -260px;
}

.language {
  margin-top: 32px;
  position: relative;
  right: 80px;
}

.social-icons li {
  width: 48px;
  a {
    padding: 0px;
    img {
      width: 60%;
    }
  }
}

.social-media-link {
  transform: scale(0.9,0.9);
}

.language-element {
  margin-left: 10px;
}

#map {
    position: absolute;
    height: 435px;
    width: 96%;
    height: 500px;
    left: 2%;
}

a.brackets:before {
  //content: "[ ";
}

a.brackets:after {
  //content: " ]";
}

h1 {
  font-family: $font-family-serif;
}

#logo {
  width: 28%;
  margin-left: auto;
  margin-bottom: 12%;
  margin-top: 12%;
}

/*
phrase blinks at the end, cuz its overflowing and the last word
is in the 2nd line.
*/
#phrase {
  max-width: 100%;
  height: 1em; // that's one line, 2em for 2 lines, etc...
  line-height: 1em; // the height of one text line
  overflow: hidden;
}


.latestContainer {
  min-height: 500px;
}

.carousel-control.right , .carousel-control.left{
  background: 0; 
}

.carousel-inner > .item > *, .carousel-inner > .item > a > *,
.carousel-inner > .item > *, .carousel-inner > .item > a > *, .playerCanvas{
  margin: auto;
}

.latestContainer > iframe{
  display:block;
  margin: auto;
}


.latest-item-caption {
  width: 40%;
  margin-top: 40px !important;
}

hr {
  width: 90%;
}

.member {
  padding-bottom: 12px;
}

#addressBox {
  position:absolute;
  left: 100px;
  margin-left:6%;
  margin-top: 5%;
}

#address {
  top: 8%;
  left: 5%;
  width: 100%;
  padding: 20px;
  background-color:rgba(255, 255, 255, 0.95);
}

#collabs {
  margin-top: 400px;
}

.credit {
  text-align: center;
  font-size: 80%;
}

.collab {
  width: 80%;
  max-height: 180px;
  margin-bottom: 40px;
}

.div-scroll
{
  width:100%;
  overflow-x:scroll;
}

.memberentry {
  padding-bottom:25px;
}
