/* add [ ] logotype to horizontal rules */
hr {
    height: 1px;
    border: none;
    background-color: $grey;
    color: $grey;
    text-align: center;
}

hr.brackets:after {
    white-space: pre;
    content: "[  ]";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: $white;
}

.jumbotron {
  background: $white;
  margin-top: 20px;
}

#map {
    height: 435px;
}

a.brackets:before {
  content: "[ ";
}

a.brackets:after {
  content: " ]";
}

h1 {
  font-family: $font-family-serif;
}

#logo {
  width: 28%;
  margin-left: auto;
  margin-bottom: 12%;
  margin-top: 12%;
}

#phrase {
  max-width: 100%;
}

hr {
  width: 90%;
}

.member {
  padding-bottom: 12px;  
}

#mapContainer {
  position:absolute;
  width: 100%;
  height: 100%;
}

#addressBox {
  position: absolute;
  background-color: white;
  top: 6%;
  left: 8%;
  padding: 20px;
}
